<div class="card">

  <h2 class="card-header">log in</h2>

  <form class="card-body login-form">

    <div class="form-group">
      <label class="form-label">username:</label>
      <input class="form-input" type="text" id="username-input-login" />
    </div>

    <div class="form-group">
      <label class="form-label">password:</label>
      <input class="form-input" type="password" id="password-input-login" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">login</button>
    </div>

  </form>
  <br>
  <a href="/public/javascript/signup.js">enroll</a>
</div>
<script src="/public/javascript/login.js"></script>